<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block  title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}">

    {{ bootstrap.load_css() }}
</head>
<body>
    {% block body  %}
    <div id="container-padre">
        <header>
            <span>Home</span>
            <nav>
                <ul>
                    <a href="{{url_for('login')}}">Login</a>
                    <a href="{{url_for('register')}}">Register</a>
                </ul>
            </nav>

        </header>
        <section>
            {% block section %}
            <h1>wellcome  to the page </h1>
            <a href="{{ url_for('login')}}">Empezamos</a>
            {% enblock %}
    
        </section>
        <footer>
            <span>&copy; tienda online-2025</span>
        </footer>
        
    </div>
    


    {% endblock %}







    {{ bootstrap.load_js() }}
    
</body>
</html>